h1 {
  text-align: center;
  margin-top: 10px;
}

.row {
  text-align: center;
}

.cal-display {
  text-align: right;
  padding-right: 35px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 50px;
  line-height: 70px;
  color: #fff;
}

.container {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 12% !important;
  border-radius: 15px;
  background-color: #000;
  margin-top: 30px;
  -moz-user-select: none !important; /* Mozilla Firefox */
  -ms-user-select: none !important; /* Internet Explorer (не поддерживается) */
  -o-user-select: none !important; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none !important; /* Google Chrome, Opera Next, Safari */
}

.cal-button {
  display: inline-block !important;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 30px;
  border-width: 0 !important;
}

#cal-zero {
  text-align: left;
  width: 102px !important;
  padding-left: 20px;
}

.cal-color-secondery:hover {
  background-color: rgb(185, 185, 185);
}

.cal-color-darken:hover {
  background-color: rgb(185, 185, 185);
}

.cal-color-secondery {
  color: #000;
  background-color: #aaa2a2;
}

.cal-color-darken {
  background-color: rgb(83, 81, 81);
  color: #fff;
}

.cal-color-orange {
  background-color: rgba(233, 157, 16, 0.979);
  color: #fff;
}

.cal-color-orange:hover {
  background-color: rgb(240, 187, 108);
}

@media screen and (max-width: 1199px) {
  .cal-display {
    padding-right: 17px !important;
  }
}

@media screen and (max-width: 991px) {
  .cal-display {
    padding-right: 17px !important;
  }
}
